<section class="feed">
    {{#each items}}
        <div class="feed__item" data-uuid="{{id}}">
            
            <img class="feed__img" src="{{ image.url }}">
            
            <h2 class="title">
            	<img src="{{ subject.avatar.url }}"> 
            	{{ subject.name }}
            </h2>

            <h1>
                <a href="appearance/{{id}}">{{title}}</a>
            </h1>

        </div>
    {{/each}}
</section>